#  .env.example
#
#  Use this file as a template for setting environment variables.
#  Copy this file to ".env" and fill in the appropriate values.
#  Do not commit the .env file to git.

NEXT_PUBLIC_BASE_URL=""


# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="" # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL=""  # Set this to the Session connection pooler string you copied in Step 1

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# supabase
SUPABASE_URL="" # <SUBSTITUTE_SUPABASE_URL>
SUPABASE_ANON_KEY="" # <SUBSTITUTE_SUPABASE_ANON_KEY>
